<label>Server Name</label>
<!--<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)">-->      <!-- property binding -->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">                     <!--two way binding-->
<p>{{serverName}}</p>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"> Add Server</button>
<!--<p [innerText]="allowNewServer"></p>-->
<p *ngIf="serverCreated">Server was Created! Name is  + {{this.serverName}}</p>
<p *ngIf="!serverCreated">No server was Created!</p>
<app-server *ngFor="let server of servers; let i = index"></app-server>
